[submodule "imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = master
[submodule "glew"]
	path = external/glew
	url = https://github.com/Perlmint/glew-cmake.git
	branch = master
[submodule "glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "imnodes"]
	path = external/imnodes
	url = https://github.com/Nelarius/imnodes.git
	branch = master
[submodule "implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
	branch = master
